@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>NEW STYLIST</h1>
<hr />

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @class="form-control", @required="required"})
  <br>
  @Html.LabelFor(model => model.StartDate)
  @Html.TextBoxFor(model => model.StartDate, new { @class="form-control", type="date", @required="required"})
  <br>
  @Html.LabelFor(model => model.ShiftHours)
  @Html.TextBoxFor(model => model.ShiftHours, new { @class="form-control", @required="required"})
  <br>
  @Html.LabelFor(model => model.ShiftDays)
  @Html.TextBoxFor(model => model.ShiftDays, new { @class="form-control", @required="required"})
  <br>
  @Html.LabelFor(model => model.PhoneNumber)
  @Html.TextBoxFor(model => model.PhoneNumber, new { @class="form-control", @required="required"})
  <br>
  <input type="submit" value="Add new stylist">
}
<br>
<p>@Html.ActionLink("Show all stylists", "Index", "Stylists", null, new {@class="button"})</p>