@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>STYLIST INFORMATION</h1>
<hr />

<h2>@Html.DisplayFor(model => model.Name)</h2>
<p class="blocktext"><strong>Employee Start Date:</strong> @Html.DisplayFor(model => model.StartDate)</p>
<p class="blocktext"><strong>Scheduled Work Hours:</strong> @Html.DisplayFor(model => model.ShiftHours)</p>
<p class="blocktext"><strong>Scheduled Work Days:</strong> @Html.DisplayFor(model => model.ShiftDays)</p>
<p class="blocktext"><strong>Phone Number:</strong> @Html.DisplayFor(model => model.PhoneNumber)</p>
<p>@Html.ActionLink("Edit Stylist", "Edit", "Stylists", new { id = Model.StylistId}, new { @class="button" })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", "Stylists", new { id = Model.StylistId}, new { @class="button" })</p>
<<<<<<< HEAD
<p>@Html.ActionLink("Back to stylists list", "Index", "Stylists", null, new { @class="button" })</p>
=======
<p>@Html.ActionLink("Back to list", "Index", "Stylists", null, new { @class="button" })</p>
>>>>>>> a142f00b4856d1538b9181c4ee2b1bd0106f3971
