@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>EDIT STYLIST</h1>
<hr />

<h2>Edit: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  @Html.LabelFor(model => model.Name)
  <br>
  @Html.EditorFor(model => model.Name)
  <br>
  <br>
  @Html.LabelFor(model => model.StartDate)
  <br>
  @Html.EditorFor(model => model.StartDate)
  <br>
  <br>
  @Html.LabelFor(model => model.ShiftHours)
  <br>
  @Html.EditorFor(model => model.ShiftHours)
  <br>
  <br>
  @Html.LabelFor(model => model.ShiftDays)
  <br>
  @Html.EditorFor(model => model.ShiftDays)
  <br>
  <br>
  @Html.LabelFor(model => model.PhoneNumber)
  <br>
  @Html.EditorFor(model => model.PhoneNumber)
  <br>
  <br>
  <input type="submit" value="Save">
  <br>
  <br>
}
<p>@Html.ActionLink("Back to stylists list", "Index", "Stylists", null, new { @class="button" })</p>